.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #main_area {
    display: grid;
    grid-template-columns: auto;
}


#nav-in-notes a ,span:nth-child(odd) {
  
    text-transform: uppercase;
    color: blue;
    cursor:pointer;
  }

#main_area > div {
    text-align: center;
    padding: 1rem;
    margin: 1rem;

    color: rgb(127, 87, 12);
    box-shadow: black;
    border: 1px solid black;
    border-radius: 5px;
    border-color: rgb(116, 116, 10);
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    box-shadow:5px 2px rgb(100, 149, 237);
    
}
@media only screen and (max-width: 400px) {
  #main_area > div {
    box-shadow: 5px 2px rgb(116, 116, 10);

  }

}


.text-center {
    text-align: center;
    color:rgb(179, 10, 10);
    font-style: oblique;
    font-size:50px;
    
}

body {
  
  background-color:rgb(254, 252, 253);
  

}
@media only screen and (max-width: 400px) {
  body{
    background-color:rgb(254, 252, 253);
    background-color:rgba(0, 0, 0, 0.177);
  }

}

#note_title {
  font-size: 35px;
  font-style: oblique;
  color: rgb(237, 84, 84);
}
 